.no_select::selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -moz-user-select: none;
}
#categories_page {
  background-color: #f1eff0;
  width: 100vw;
  height: 200vh;
  padding-top: 10%;
  position: relative;
}
#categories_page h1 {
  text-align: center;
  color: #a2a2d2;
  font-size: 15vw;
  font-family: CorelDraw;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}
<<<<<<< Updated upstream

#categories_page img {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 60vw;
  height: 150vh;
  transform: translate(-50%, -50%);
=======
.Img_div{
  position: relative;
  left: 10%;
  width: 80%;
  height: 80%;
>>>>>>> Stashed changes
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

#categories_page_pin_img {
  position: absolute;
  transform: translate(-50%, -50%);
<<<<<<< Updated upstream
  width: 150px;
  height: 200px;
=======
  background-color: #939295;
  width: 12vw;
  height: 35vh;
>>>>>>> Stashed changes
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  border: 5px solid #fffff6;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}
#text_link{
  position: absolute;
  bottom: 0%;
  display: flex;
  align-items: center;
  height: 20%;
  width: 100%;
  justify-content: center;
  gap: 5%;
  cursor: pointer;
  /* background-color: yellowgreen; */
}
#text_link p{
  color: #f1eff0;
  font-size: 1.5vw;
  letter-spacing: -0.1vw;
  cursor: pointer;
}
#text_link #icons{
  color: #f1eff0;
  scale: 1.5;
  height: 100%;
}

#categories_page_pin_img span{
  width: 10px;
  height: 10px;
  background-color: #000;
}
#toplayer{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.34);
  width: 100%;
  height: 100%;
}

#categories_page .img_1 {
  bottom: 10%;
  left: 20%;
  background-image: url("https://images.unsplash.com/photo-1594633312681-425c7b97ccd1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80");
  /* background-position: bottom; */
}
#categories_page .img_2 {
<<<<<<< Updated upstream
  bottom: -5%;
  right: 30%;
=======
  bottom: 2%;
  right: 20%;
>>>>>>> Stashed changes
  background-image: url("../images/Shoes_wear.jpg");
}
#categories_page .img_3 {
  bottom: 35%;
  left: 30%;
  background-image: url("../images/outer_wear.jpg");
}
#categories_page .img_4 {
<<<<<<< Updated upstream
  bottom: 42%;
  right: 20%;
  transform: rotate(15deg);
=======
  bottom: 50%;
  left: 80%;
>>>>>>> Stashed changes
  background-image: url("../images/accessories.jpg");
}
#categories_text_btn_div {
  position: absolute;
  left: 8%;
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 25vw;
  height: fit-content;
  font-family: cursive;
}
#categories_text_btn_div p {
  color: #666767;
  width: 25vw;
  font-size: 1.5vw;
}
#categories_shop_btn {
  background-color: #5f60b9;
  color: #ffffff;
  width: fit-content;
  height: fit-content;
  padding: 2% 3%;
}
#categories_text_r_div {
  position: absolute;
  top: 30%;
  right: 8%;
}
#categories_text_r_div p {
  font-family: CorelDraw;
  line-height: 80%;
  color: #000;
  text-align: end;
  width: 20vw;
  font-size: 2vw;
}
