#sider {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  /* width: 30%; */
  /* border-radius: 0px 12px 12px 0px; */
}
#nav_links_icon {
  width: 100%;
  height: 10%;
}
#nav_links_logo {
  position: relative;
  width: 100%;
  height: 100%;
  
}
#font{
  font-family: CorelDraw;
  font-weight: 600;
  font-size: 2vw;
  letter-spacing: 0.5vw;
  line-height: 5vh;
}
#sider:hover {
  height: 100%;
  width: 20%;
}
#sider:hover #nav_links_icon #btn{
  width: 25%;
}
#sider:hover #nav_links_logo{
  width: 4.5rem;

}
#sider:hover #wrapper {
  /* width: 4rem; */
  width: 100%;
}
#display{
  display: none;
}
#sider:hover #display{
  display: flex;
} 
#sider:hover #badge{
  right: 0.5rem;
  top: -0.5rem;
}
